<div class="navbar-form">
    <input type="text" class="form-control" id="search" />
    <button class="btn btn-primary" (click)="filterData()"> Search</button>
</div>
<section class="navigation">
    <div class="nav-container">
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li *ngFor="let x of listItem">
                    <a data-toggle="dropdown" [ngClass]="(cat === x.ad_type.value) ? 'highlight' : ''"
                        (click)="get_list(x.ad_type.value,null)">{{x.ad_type.display}}
                    </a>
                    <ul class="dropdown-menu" *ngIf="x.ad_category.length !== 0">
                        <li *ngFor="let y of x.ad_category">
                            <a (click)="get_list(x.ad_type.value,y.value)">{{y.display}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>

<ul *ngIf="active" class="breadcrumb" style="padding-left:  50px">
    <li><a (click)="backToHome()" style="cursor: pointer">HOME</a></li>
    <li>
        <span *ngIf="subcat == 'null' || subcat == '' || subcat == undefined">{{cat | uppercase}}</span>
        <a *ngIf="subcat !== 'null' && subcat !== '' && subcat !== undefined" (click)="get_list(ad_type,null)"
            style="cursor: pointer">{{cat | uppercase}}</a>
    </li>
    <li *ngIf="subcat !== 'null' && subcat !== '' && subcat !== undefined">{{subcat | uppercase}}</li>
</ul>

<script>
    (function ($) { // Begin jQuery
        $(function () { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.nav-dropdown').toggle();
                // Close one dropdown when selecting another
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function () {
                $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function () {
                $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function () {
                this.classList.toggle('active');
            });
        }); // end DOM ready
    })(jQuery); // end jQuery
</script>