<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <button type="submit" class="btn btn-primary">Search <i class="fa fa-search"></i></button>

        </div>
    </div>
</nav>
<nav class="full navbar">
    <a [ngClass]="(cat=='Accommodations')?'menu':''" (click)="get_list('Accommodations')">Accommodations</a>
    <a [ngClass]="(cat=='Bikes')?'menu':''" (click)="get_list('Bikes')">Bikes, Motorbikes, and Cars</a>
    <a [ngClass]="(cat=='Books')?'menu':''" (click)="get_list('Books')">Books</a>
    <a [ngClass]="(cat=='Campus')?'menu':''" (click)="get_list('Campus')">Campus Events</a>
    <a [ngClass]="(cat=='Lost')?'menu':''" (click)="get_list('Lost')">Lost & found</a>
</nav>
<ul *ngIf="active" class="breadcrumb" style="padding-left:  50px">
    <li><a (click)="backToPage()">Home</a></li>
    <li>{{cat}}</li>
</ul>