<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form [formGroup] = "" class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <button type="submit" class="btn btn-primary">Search <i class="fa fa-search"></i></button>

        </form>
    </div>
</nav>
<nav class="full navbar">
    <div class="underline"></div>
    <div class="underline"></div>
    <div class="underline"></div>
    <a (click)="ul(0)" class="menu">Accommodations</a>
    <a (click)="ul(1)" class="menu">Bikes, Motorbikes, and Cars</a>
    <a (click)="ul(2)" class="menu">Books</a>
    <a (click)="ul(3)" class="menu">Campus Events</a>
    <a (click)="ul(4)" class="menu">Lost & found</a>
</nav>