<app-navbar></app-navbar>
<!-- <div class="back" (click)="backToPage()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</div> -->
<div class="container">
    <section *ngIf="showCar" class="grid-col-12" style="margin-top: 50px">
        <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
                <div>
                    <img src={{image}} />
                </div>
            </div>
        </owl-carousel>
    </section>
    <div class="row">
        <div class="col-sm-4">
            <div class="">
                <div class="card-body">
                    <div class="lead">{{ad.title}}</div>
                    <hr>
                    <div style="margin-bottom: 10px">
                        {{ad.contact_details}}
                    </div>
                    <table class="table">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Ad Type :</td>
                            <td style="font-weight:bold">{{ad.ad_type}}</td>
                        </tr>
                        <tr>
                            <td>Ad Category :</td>
                            <td style="font-weight:bold">{{ad.category}}</td>
                        </tr>
                        <tr>
                            <td>Price :</td>
                            <td style="font-weight:bold">$ {{ad.price}}</td>
                        </tr>
                        <tr>
                            <td>Status :</td>
                            <td style="font-weight:bold">{{ad.status}}</td>
                        </tr>
                        <tr>
                            <td>Posted On :</td>
                            <td style="font-weight:bold">{{ad.createdAt | date :'dd-MMMM-yy'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>