.carousel {
    margin: 25px 160px
}

img {
    width: 100%;
}

section {
    margin-left: 160px;
    margin-right: 160px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.head {
    font-weight: bold;
    color: #01447e
}

.container {
    margin-bottom: 80px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol.name-value {
    list-style: none;
    display: table;
}

ol.name-value li {
    display: table-row;
    border-bottom: 1px solid #E8E8E8;
}

ol.name-value li label {
    display: table-cell;
    width: 50%;
    color: #01447e;
    font-family: Georgia, 'Times New Roman', Times, serif
}

ol.name-value li span {
    display: table-cell;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.span-12 {
    background-color: #f1ffec;
    padding: 25px 100px 25px 10px;
}

.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
}

.card>.card-link {
    color: #333;
}

.card>.card-link:hover {
    text-decoration: none;
}

.card>.card-link .card-img img {
    border-radius: 6px 6px 0 0;
}

.card .card-img {
    position: relative;
    padding: 0;
    display: table;
}

.card .card-img .card-caption {
    position: absolute;
    right: 0;
    bottom: 16px;
    left: 0;
}

.card .card-body {
    display: table;
    width: 100%;
    padding: 12px;
}

.card .card-header {
    border-radius: 6px 6px 0 0;
    padding: 8px;
}

.card .card-footer {
    border-radius: 0 0 6px 6px;
    padding: 8px;
}

.card .card-left {
    position: relative;
    float: left;
    padding: 0 0 8px 0;
}

.card .card-right {
    position: relative;
    float: left;
    padding: 8px 0 0 0;
}

.card .card-body h1:first-child,
.card .card-body h2:first-child,
.card .card-body h3:first-child,
.card .card-body h4:first-child,
.card .card-body .h1,
.card .card-body .h2,
.card .card-body .h3,
.card .card-body .h4 {
    margin-top: 0;
}

.card .card-body .heading {
    display: block;
}

.card .card-body .heading:last-child {
    margin-bottom: 0;
}

.card .card-body .lead {
    text-align: center;
}

@media( min-width: 768px) {
    .card .card-left {
        float: left;
        padding: 0 8px 0 0;
    }
    .card .card-right {
        float: left;
        padding: 0 0 0 8px;
    }
    .card .card-4-8 .card-left {
        width: 33.33333333%;
    }
    .card .card-4-8 .card-right {
        width: 66.66666667%;
    }
    .card .card-5-7 .card-left {
        width: 41.66666667%;
    }
    .card .card-5-7 .card-right {
        width: 58.33333333%;
    }
    .card .card-6-6 .card-left {
        width: 50%;
    }
    .card .card-6-6 .card-right {
        width: 50%;
    }
    .card .card-7-5 .card-left {
        width: 58.33333333%;
    }
    .card .card-7-5 .card-right {
        width: 41.66666667%;
    }
    .card .card-8-4 .card-left {
        width: 66.66666667%;
    }
    .card .card-8-4 .card-right {
        width: 33.33333333%;
    }
}

img{
    margin-bottom: 10px !important;
}

/* -- default theme ------ */

.card-default {
    border-color: #ddd;
    background-color: #fff;
    margin-bottom: 24px;
}

.card-default>.card-header,
.card-default>.card-footer {
    color: #333;
    background-color: #ddd;
}

.card-default>.card-header {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.card-default>.card-footer {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.card-default>.card-body {}

.card-default>.card-img:first-child img {
    border-radius: 6px 6px 0 0;
}

.card-default>.card-left {
    padding-right: 4px;
}

.card-default>.card-right {
    padding-left: 4px;
}

.card-default p:last-child {
    margin-bottom: 0;
}

.card-default .card-caption {
    color: #fff;
    text-align: center;
}


/* -- price theme ------ */

.card-price {
    border-color: #999;
    background-color: #ededed;
    margin-bottom: 24px;
}

.card-price>.card-heading,
.card-price>.card-footer {
    color: #333;
    background-color: #fdfdfd;
}

.card-price>.card-heading {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.card-price>.card-footer {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.card-price>.card-img:first-child img {
    border-radius: 6px 6px 0 0;
}

.card-price>.card-left {
    padding-right: 4px;
}

.card-price>.card-right {
    padding-left: 4px;
}

.card-price .card-caption {
    color: #fff;
    text-align: center;
}

.card-price p:last-child {
    margin-bottom: 0;
}

.card-price .price {
    text-align: center;
    color: #337ab7;
    font-size: 3em;
    line-height: 0.7em;
    margin: 24px 0 16px;
}

.card-price .price small {
    font-size: 0.4em;
    font-weight: bold;
    color: #66a5da;
}

.card-price .details {
    list-style: none;
    margin-bottom: 240px;
    padding: 0 18px;
}

.card-price .details li {
    float: left;
    margin-bottom: 8px;
}

.card-price .buy-now {
    text-transform: uppercase;
}

.card-price table .price {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

.card-price table .note {
    color: #666;
    font-size: 0.8em;
}

.col-sm-4 {
    width: 70% !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
}

td {
    padding: 0px 0px 0px 30px !important;
}

.table {
    width: 70% !important;
}


*{box-sizing:border-box;}
body{
  background:#3A3A3A;
}

.back-button{
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
  width:30px;
  height:30px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius:50%;
  border:#03A9F4 1px solid;
  overflow:hidden;
  transition:background 0.3s ease;
  &.back{
    .arrow-wrap{
      left:-50%;
    }
  }
  &:hover{
    background:#03A9F4;
    .arrow-wrap{
      span{
        background:#fff;
      }
    }
  }

  .price{
      font-weight: bold !important;
  }
  .arrow-wrap{
    display:block;
    position:absolute;
    height:70%;
    width:70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:left 0.3s ease;
    span{
      height:1px;
      left:0;
      top:50%;
      background:#03A9F4;
      position:absolute;
      display:block;
      transition:background 0.3s ease;
    }
    .arrow-part-1{
      width:100%;
      transform: translate(0, -50%);
    }
    .arrow-part-2{
      width:60%;
      transform: rotate(-45deg);
      transform-origin: 0 0;
    }
    .arrow-part-3{
      width:60%;
      transform: rotate(45deg);
      transform-origin: 0 0;
    }
  }
}
