.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.container{
margin-top: 20px;
background-color: azure;
width: 700px;
}

.card-body{
    margin-left: 15px;
}
img{
    max-height: 100px;
    cursor: pointer;
}
