<app-navbar></app-navbar>
<app-searchbar></app-searchbar>
<div class="container" *ngFor="let x of listView">
    <div class="images">
        <!-- <img [src]="x.images.length !== 0 ? x.images[0].url : '../assets/images/images.png'"/> -->
        <img src="../assets/images/images.png" />
    </div>
    <div class="product">
        <p>{{x.ad_type}} | {{x.category}}</p>
        <h1>{{x.title}}</h1>
        <h2>${{x.price}}</h2>
        <p class="desc">{{x.contact_details}}</p>
        <div class="buttons">
            <button class="add" (click)="redirectToPost(x._id)">Read more</button>
            <button class="like" (click)="redirectToPost(x._id)"><span>>></span></button>
        </div>
    </div>
</div>
<div id="main" *ngIf="listView !== undefined && listView.length==0">
    <div class="fof">
        <h1>No Posts Available</h1>
    </div>
</div>