<app-navbar></app-navbar>
<app-searchbar></app-searchbar>
<div class="container">
    <div class="row text-center portfolio">
        <div class="clear"></div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a>
                        <img routerLink="post" src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
                    </a>
                </div>
                <div class="panel-footer">
                    And, once again, here is a longer description given to a thumbnail grouping.
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a>
                        <img routerLink="post" src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
                    </a>
                </div>
                <div class="panel-footer">
                    And, once again, here is a longer description given to a thumbnail grouping.
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a>
                        <img routerLink="post" src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
                    </a>
                </div>
                <div class="panel-footer">
                    And, once again, here is a longer description given to a thumbnail grouping.
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a>
                        <img routerLink="post" src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
                    </a>
                </div>
                <div class="panel-footer">
                    And, once again, here is a longer description given to a thumbnail grouping.
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a>
                        <img routerLink="post" src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
                    </a>
                </div>
                <div class="panel-footer">
                    And, once again, here is a longer description given to a thumbnail grouping.
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a>
                        <img routerLink="post" src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
                    </a>
                </div>
                <div class="panel-footer">
                    And, once again, here is a longer description given to a thumbnail grouping.
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>